<p id="notice"><%= notice %></p>

<p>
  <b>Rut:</b>
  <%= @alumno.rut %>
</p>

<p>
  <b>Numero empleado:</b>
  <%= @alumno.numero_empleado %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%= @alumno.fecha_nacimiento %>
</p>

<p>
  <b>Grupo sanguineo:</b>
  <%= @alumno.grupo_sanguineo %>
</p>

<p>
  <b>Servicio militar:</b>
  <%= @alumno.servicio_militar %>
</p>

<p>
  <b>Lugar servicio militar:</b>
  <%= @alumno.lugar_servicio_militar %>
</p>

<p>
  <b>Inscripcion electoral:</b>
  <%= @alumno.inscripcion_electoral %>
</p>

<p>
  <b>Circunscripcion:</b>
  <%= @alumno.circunscripcion %>
</p>

<p>
  <b>Fecha ingreso:</b>
  <%= @alumno.fecha_ingreso %>
</p>

<p>
  <b>Fecha egreso:</b>
  <%= @alumno.fecha_egreso %>
</p>

<p>
  <b>Direccion particular:</b>
  <%= @alumno.direccion_particular %>
</p>

<p>
  <b>Telefono fijo:</b>
  <%= @alumno.telefono_fijo %>
</p>

<p>
  <b>Telefono celular:</b>
  <%= @alumno.telefono_celular %>
</p>

<p>
  <b>Email:</b>
  <%= @alumno.email %>
</p>

<p>
  <b>Psu:</b>
  <%= @alumno.psu %>
</p>

<p>
  <b>Puntaje psu:</b>
  <%= @alumno.puntaje_psu %>
</p>

<p>
  <b>Establecimiento ensenanza media:</b>
  <%= @alumno.establecimiento_ensenanza_media %>
</p>

<p>
  <b>Anios ensenanza media:</b>
  <%= @alumno.anios_ensenanza_media %>
</p>

<p>
  <b>Establecimiento superior:</b>
  <%= @alumno.establecimiento_superior %>
</p>

<p>
  <b>Anios superior:</b>
  <%= @alumno.anios_superior %>
</p>

<p>
  <b>Titulo:</b>
  <%= @alumno.titulo %>
</p>


<%= link_to 'Edit', edit_alumno_path(@alumno) %> |
<%= link_to 'Back', alumnos_path %>
