<h1>Listing servicios</h1>

<table>
  <tr>
    <th>Codigo</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @servicios.each do |servicio| %>
  <tr>
    <td><%= servicio.codigo %></td>
    <td><%= servicio.descripcion %></td>
    <td><%= link_to 'Show', servicio %></td>
    <td><%= link_to 'Edit', edit_servicio_path(servicio) %></td>
    <td><%= link_to 'Destroy', servicio, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Servicio', new_servicio_path %>
