<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @servicio.codigo %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @servicio.descripcion %>
</p>


<%= link_to 'Edit', edit_servicio_path(@servicio) %> |
<%= link_to 'Back', servicios_path %>
