<%= form_for(@curso) do |f| %>
  <% if @curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

      <ul>
      <% @curso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %><br />
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :anio %><br />
    <%= f.number_field :anio %>
  </div>
  <div class="field">
    <%= f.label :semestre %><br />
    <%= f.text_field :semestre %>
  </div>
  <div class="field">
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :especialidad %><br />
    <%= f.text_field :especialidad %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
