<%= form_for(@asignatura_x_curso) do |f| %>
  <% if @asignatura_x_curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asignatura_x_curso.errors.count, "error") %> prohibited this asignatura_x_curso from being saved:</h2>

      <ul>
      <% @asignatura_x_curso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :curso_id %><br />
    <%= f.collection_select :curso_id, Curso.all, :id, :codigo, :prompt => 'Selecciona un Curso' %>
  </div>
  <div class="field">
    <%= f.label :asignatura_id %><br />
    <%= f.collection_select :asignatura_id, Asignatura.all, :id, :codigo, :prompt => 'Selecciona una asignatura' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
