<h1>Listing asignatura_x_cursos</h1>

<table>
  <tr>
    <th>Curso</th>
    <th>Asignatura</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @asignatura_x_cursos.each do |asignatura_x_curso| %>
  <tr>
    <td><%= asignatura_x_curso.curso.codigo %></td>
    <td><%= asignatura_x_curso.asignatura.codigo + " " + asignatura_x_curso.asignatura.nombre%></td>
    <td><%= link_to 'Show', asignatura_x_curso %></td>
    <td><%= link_to 'Edit', edit_asignatura_x_curso_path(asignatura_x_curso) %></td>
    <td><%= link_to 'Destroy', asignatura_x_curso, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Asignatura x curso', new_asignatura_x_curso_path %>
