<header>
	<%= link_to logo, root_path %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", "/" %></li>
			<li><%= link_to "Evaluacion Academica", "#" %></li>
			<li><%= link_to "Instrucción Militar", '#' %></li>
			<li><%= link_to "Registro Medico", '#' %></li>
		</ul>
	</nav>
</header>